body{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}



#continer h1{
    font-size: 20px;
}

#post{
    padding: 1em;
}
#cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}
#cabecera #tagline{
    padding: 0 0 0 2em ;
    font-weight: normal;
    font-size: o.8em;
}
#continer{
    width: 70%;
    padding: 0em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}